
container {
  background-color: #fff;
  
}

/* Everything but the jumbotron gets side spacing for mobile first views 
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffff;

}*/


.btn-menu{
  background-color: #0088CC ;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #F7F7F7;
  margin-bottom: 20px;
}

.btn-profile{
  background-color: #666798 ;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #F7F7F7;
}
.btn-kids{
  background-color: #6ACA25 ;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #F7F7F7;
}
.btn-results{
  background-color: #F39C12 ;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #F7F7F7;
}

.btn-exit{
  background-color: #ca5a4c;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #F7F7F7;
}

.btn_update{
  background-color: #cc761b;
  font-family: 'Luckiest Guy', cursive;
  font-size: 19px;
  color: #F7F7F7;
  margin-bottom: 20px;
}

.btn_accept{
  background-color:#6ACA25;
  font-family: 'Luckiest Guy', cursive;
  font-size: 19px;
  color: #F7F7F7;
  margin-bottom: 20px;
}
.btn_cancel{
  background-color: #ca5a4c;
  font-family: 'Luckiest Guy', cursive;
  font-size: 19px;
  color: #F7F7F7;
  margin-bottom: 20px;
  margin-left: 5px;
}
.btn_back{
  background-color: #cc3f60;
  font-family: 'Luckiest Guy', cursive;
  font-size: 19px;
  color: #F7F7F7;
  margin-bottom: 20px;
}
#form_profile{
  margin-top: 20px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;

}
#form_login{
  margin-top: 20px;
  padding-left: 45px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
}
#form_registerUser{
  margin-top: 20px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
}
#form_AddKid{
  margin-top: 20px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
}
#form_profileKids{
  margin-top: 20px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
}

#btn_add{
  background-color:#6ACA25;
  font-family: 'Luckiest Guy', cursive;
  font-size: 19px;
  color: #F7F7F7;
  margin-top: 10px;
  margin-bottom:5px;
}

#btn_search{
  background-color: #6976ca;
  font-family: 'Luckiest Guy', cursive;
  font-size: 19px;
  color: #F7F7F7;
  margin-top: 10px;
  margin-bottom:5px;
}
h2{
  font-family: 'Luckiest Guy', cursive;
}
h6{
  font-family: 'Luckiest Guy', cursive;
}
.list-group-kids{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#list_infoKids{
  background-color: #ffff;
  color: #1210a8;
  border-style: solid;
  border-color: #1210a8;
  border-width: 5px;
  border-radius: 10px;
}

.navbar-default{
 background-color: transparent;
  margin-top: 10px;
  border-style: none;
}

#search_input{
  width: 200px;
  height: 40px;
  font-size: 16px;
}

#helpPic{
  padding-left: 10px;
}
#bannerPic{
  margin-left:45px;
}

#help_label{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 25px
}

 /*Make the masthead heading the same height as the navigation*/
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.header{
  background-color:#fff;
}




/*Responsive: Portrait tablets and up */
@media screen and (min-width: 960px) {
  .container {
    max-width: 922px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  
}

.resultsContainer
{
  margin-top: 10px;
  padding-left: 20px;
}

.filterContainer
{
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: row;
}