<div ng-init="infoKids=[{id:1,name:'Jani',condition:'Evaluado'},{id:2,name:'Hege',condition:'No Evaluado'},{id:3,name:'Kai',condition:'Evaluado'}]">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar niño" id="search_input">
          <a type="submit" class="btn btn-default" id="btn_search">Buscar</a>
          <a ng-click="addKids()" type="submit" class="btn btn-default" id="btn_add" ng-href="#!/kidsAdd">Agregar niño</a>
        </div>
      </form>
    </div>
  </nav>

  <h2 align="center">Lista de niños encuestados</h2>
  <div class="list-group-kids" ng-repeat="x in infoKids">
    <a ng-click="kids_profile()" ng-href="#!/kidsProfile" class="list-group-item " id="list_infoKids">
      <p class="list-group-item-text">ID: {{ x.id }}</p>
      <p class="list-group-item-text">Nombre: {{ x.name }}</p>
      <p class="list-group-item-text">Estado: {{ x.condition }}</p>
    </a>
  </div>
</div>

