<form role="form" id="form_update_profileKids" >
  <h2 align="center">Información Personal</h2>
  <div class="form-group">
      <label for="username_kid">Nombre</label>
      <input type="text" class="form-control" id="up_username_kid" ng-model="kid.name">
  </div>
  <div class="form-group">
      <label for="lastname_kid">Apellidos</label>
      <input type="text" class="form-control" id="up_lastname_kid"  ng-model="kid.lastname">
  </div>
  <div class="form-group">
      <label for="select_age_kid">Edad</label>
      <input type="number" class="form-control" id="up_select_age_kid" ng-model="kid.age">
  </div>
  <div class="form-group">
      <label for="telephone">Teléfono</label>
      <input type="number" class="form-control" id="up_telephone_kid"  ng-model="kid.telephone">
  </div>
  <div class="form-group">
      <label for="location">Residencia</label>
      <input type="text" class="form-control" id="up_location" ng-model="kid.location" >
  </div>

  <h2 align="center">Favoritos</h2>
  <div class="form-group">
      <label for="fav_topic_kid">Tema</label>
      <input type="text" class="form-control" id="up_fav_topic_kid" ng-model="kid.topic">
  </div>
  <div class="form-group">
      <label for="fav_subject_kid">Asignatura</label>
      <input type="text" class="form-control" id="up_fav_subject_kid"  ng-model="kid.subject">
  </div>
  <div class="form-group">
      <label for="fav_hobbie_kid">Pasa Tiempo</label>
      <input type="text" class="form-control" id="up_fav_hobbie_kid" ng-model="kid.hobbie">
  </div>
  <div class="form-group">
      <label for="fav_other_kid">Otra información</label>
      <textarea class="form-control" rows="5" id="fup_av_other_kid"  ng-model="kid.other" ></textarea>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10" align="center">
          
      <a ng-click="cancelUpdateKids()" type="button" class="btn btn-default btn_cancel" ng-href="#!/kids">Cancelar</a>
      <a  ng-click="acceptUpdateKids()" type="button" class="btn btn-default btn_accept">Aceptar</a>
      </div>
  </div>
</form>