<div ng-init="vm.start()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <form class="navbar-form navbar-left">
        <div class="form-group">
        <!--<input type="text" class="form-control" placeholder="Buscar niño" id="search_input">
          <a type="submit" class="btn btn-default" id="btn_search">Buscar</a>-->
          <a ng-click="addKids()" type="submit" class="btn btn-default" id="btn_add" ng-href="#!/kidsAdd">Agregar niño</a>
        </div>
      </form>
    </div>
  </nav>

  <h2 align="center">Lista de niños encuestados</h2>
  <div class="list-group-kids" ng-repeat="x in vm.kids">
    <a ng-href="#!/kidsProfile/{{x.idplayer}}" class="list-group-item " id="list_infoKids">
      <p class="list-group-item-text">Cédula: {{x.idCard}}</p>
      <p class="list-group-item-text">Nombre: {{x.name}} {{x.lastname1}} {{x.lastname2}}</p>
      <p class="list-group-item-text">Escuela: {{x.school}}</p>
      <p class="list-group-item-text">Pais: {{x.country}}</p>
    </a>
  </div>
</div>

