<!-- Formulario para Agregar Usuario -->
<form role="form" id="form_addUser" name= 'form_addUser'>
    <h2 align="center">Registrar Usuario</h2>
    <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" name='username' ng-model="vm.user.username" >
    </div>
   
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" ng-model="vm.user.password">
    </div>
   
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10" align="center">
            <a ng-click="vm.acceptLogin()" type="submit" class="btn btn-default btn_accept" >Aceptar</a>
            <a ng-click="vm.register()" type="button" class="btn btn-default btn_cancel">Registrar</a>
        </div>
    </div>
</form>