<!-- Formulario para Mostrar perfil de Usuario -->
<form role="form" id="form_profile" name="form_profile" ng-submit="vm.acceptUpdate()">
    <div class="row">
            <div class="col-sm-8">
                 <h2 align="center">Perfil de Usuario</h2>
                <div class="form-group">
                    <label for="username">Nombre de Cuenta</label>
                    <input type="text" class="form-control" id="nickname" name="nickname" ng-model="vm.user.username" ng-disabled="vm.edit" required>
                    <span style="color:red" ng-show="form_profile.nickname.$touched && form_profile.nickname.$invalid ">Colocar un nombre de cuenta</span>
                </div>
                
                <div class="form-group">
                    <label for="username">Nombre</label>
                    <input type="text" class="form-control" id="username" name="username" ng-model="vm.user.name" ng-disabled="vm.edit" required>
                    <span style="color:red" ng-show="form_profile.username.$touched && form_profile.username.$invalid ">Colocar un nombre</span>
                </div>
                
                <div class="form-group">
                    <label for="firstlastname">Primer Apellido</label>
                    <input type="text" class="form-control" id="firstlastname" name="firstlastname" ng-model="vm.user.lastname1" ng-disabled="vm.edit" required>
                    <span style="color:red" ng-show="form_profile.firstlastname.$touched && form_profile.firstlastname.$invalid ">Colocar primer apellido</span>
                </div>
                <div class="form-group">
                    <label for="secondlastname">Segundo Apellido *</label>
                    <input type="text" class="form-control" id="secondlastname" name="secondlastname" ng-model="vm.user.lastname2" ng-disabled="vm.edit" required>
                    <span style="color:red" ng-show="form_profile.secondlastname.$touched && form_profile.secondlastname.$invalid ">Colocar segundo apellido</span>
                </div>
                <div class="form-group">
                    <label for="email">Correo Electronico</label>
                    <input type="email" class="form-control" id="email" name="email" ng-model="vm.user.email" ng-disabled="vm.edit" required>
                    <span style="color:red" ng-show="form_profile.email.$touched && form_profile.email.$invalid ">Colocar correo</span>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" ng-model="vm.user.password" ng-disabled="!vm.passwordNew">
                    <a for="password" id="label_changePass" class="text-primary" ng-show="vm.changePass" ng-model="changePass" ng-click="vm.changePassword()" required>Cambiar Contraseña</a>
                </div>
                <div class="form-group" ng-show="vm.passwordNew">
                    <label for="passwordChange">Nueva Contraseña</label>
                    <input type="password" class="form-control" id="passwordChange" name="pass" ng-model="vm.passwordChange"  ng-disabled="vm.edit">
                    <span style="color:red" ng-show="form_profile.pass.$touched && form_profile.pass.$invalid ">Colocar nueva contraseña</span>
                </div>
                <div class="form-group"  ng-show="vm.passwordNew">
                    <label for="passwordConfirm">Confirmar Nueva Contraseña</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passConfirm"ng-model="vm.passwordConfirm" ng-disabled="vm.edit">
                    <span style="color:red" ng-show="form_profile.passConfirm.$touched && form_profile.passConfirm.$invalid ">Repetir contraseña</span>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10" align="center">
                        <a ng-click="vm.editProfile()" type="button" class="btn btn-default btn_update" ng-show="vm.edit">Modificar Datos</a>
                        <a ng-click="vm.cancelUpdate()" type="button" class="btn btn-default btn_cancel" ng-show="vm.btnAcceptCancel">Cancelar</a>
                        <input type="submit" class="btn btn-default btn_accept" ng-show="vm.btnAcceptCancel" value='Aceptar'></input>
                       
                    </div>
                </div>
            </div>
    </div>
    

    
    
</form>