<!-- Formulario para Agregar Usuario -->
<form role="form" id="form_addUser" name= 'form_addUser'>
    <h2 align="center">Registrar Usuario</h2>
    <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" name='username' ng-model="vm.user.username" required>
        <span style="color:red" ng-show="form_addUser.username.$touched && form_addUser.username.$invalid "> se necesita un nombre de usuario</span>
    </div>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="username" ng-model="vm.user.name" required>
    </div>
    <div class="form-group">
        <label for="firstlastname">Primer Apellido</label>
        <input type="text" class="form-control" id="firstlastname" ng-model="vm.user.lastname1" required >
    </div>
    <div class="form-group">
        <label for="secondlastname">Segundo Apellido *</label>
        <input type="text" class="form-control" id="secondlastname" ng-model="vm.user.lastname2" >
    </div>
    <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input type="email" class="form-control" id="email" ng-model="vm.user.email" required>
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" ng-model="vm.user.password" required>
    </div>
    <div class="form-group" >
        <label for="passwordChange">Repita La Contraseña</label>
        <input type="password" class="form-control" id="password2" ng-model="vm.password2" required>
    </div>
    
    <div class="form-group" >
    <select required class="form-control" ng-model="vm.selectedUserType" ng-options="x.name for x in vm.userTypes"><option value='' disabled selected>Tipo De Usuario</option>
        </select>
    </div>
    
    
    
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10" align="center">
            <a ng-click="vm.cancelRegister()" type="button" class="btn btn-default btn_cancel">Cancelar</a>
            <a ng-click="vm.acceptRegister()" type="submit" class="btn btn-default btn_accept" >Aceptar</a>
        </div>
    </div>
</form>