#body_view2{
    background-image: url("background_.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 400px;
}

#menu_btn{
    margin-top: 2px;
    width: 212px;
}

.btn-menu{
    background-color: #0088CC ;
    font-family: "Cooper Black";
    font-size: 20px;
    color: #F7F7F7;
    margin-bottom: 20px;
}

.btn-profile{
    background-color: #666798 ;
    font-family: "Cooper Black";
    font-size: 20px;
    color: #F7F7F7;
}
.btn-kids{
    background-color: #6ACA25 ;
    font-family: "Cooper Black";
    font-size: 20px;
    color: #F7F7F7;
}
.btn-exit{
    background-color: #ca5a4c;
    font-family: "Cooper Black";
    font-size: 20px;
    color: #F7F7F7;
}